    <div class="header">
      <h1>Tienda en línea</h1>
      <nav>
        <a href="/" class="link">Inicio</a>
        <a href="/products" class="link">Productos</a>
        <a href="/products/newProduct" class="link">Agregar Producto</a>
      </nav>
    </div>
